html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Skil Up
    link(rel="manifest" href="/manifest.json")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    style.
      :root {
        --fond: #1e1e2f;
        --carte: #2c2c3a;
        --texte: #f0f0f0;
        --accent:rgb(182, 186, 185); /*--accent: #8a2be2; */
        --accent2: #00ffff; /* cyan */
        --danger: #e74c3c;
        --ombre: 0 0 1px rgba(0, 0, 0, 0.3);
      }
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      body {
        background-color: var(--fond);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--texte);
        margin: 0;
        padding: 20px;
        display: flex;
        justify-content: center;
      }
      h2{
        margin-bottom:10px;
        margin-top:5px;
      }

      .container {
        display: flex;
        flex-direction: row;
        max-width: 1600px;
        gap: 30px;
        width: 100%;
      }

      .form-container, .tasks-container, .purchase-container {
        background-color: var(--carte);
        border-radius: 15px;
        box-shadow: var(--ombre);
        padding: 20px;
        flex: 1;
      }
      .form-container-cache {
        display: none; /* Pour cacher le formulaire */
      } 

      .tasks-container {
        overflow: visible;
      }

      .salaire {
        display: block;
        width: max-content; /* Pour qu'il garde sa largeur auto */
        margin: 0 auto;
        background-color: black;
        border-radius:20px;
        border : 1px solid var(--accent); 
        box-shadow: var(--ombre);
        padding: 10px;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        color:gold;
        font-weight: bold;
        font-size:1rem;
        margin : auto;
        margin-top:0.8em;
        margin-bottom:0;
      }

      /*li.user-item:not(:last-child)::after {
        content: "";
        display: block;
        width: 100%;
        border-radius:20px;
        border: 1px solid var(--accent2);
        height: 5px; 
        background-color: var(--accent2);
        margin-top: 1rem;
        border-radius: 1px;
      }*/

      .titre {
        text-align: center;
        font-size: 3rem;
        color: var(--accent2);
        font-family: 'Orbitron', sans-serif;
        text-shadow: 0 0 5px var(--accent2);
        margin-top:1rem;
        margin-bottom: 1rem;
      }

      .sousTitre{
        text-align: center;
        font-size: 1.5rem;
        color: var(--accent2);
        font-family: 'Orbitron', sans-serif;
        text-shadow: 0 0 5px var(--accent2);
        margin-top:1rem;
        margin-bottom: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 0.1rem
      }

      label {
        font-weight: bold;
        color: var(--accent2);
        margin-bottom: 0px;
      }

      input, textarea {
        background-color: #444;
        color: var(--texte);
        border: 2px solid var(--accent);
        border-radius: 8px;
        padding: 10px;
        font-size: 1rem;
        transition: border 0.3s ease;
      }

      input:focus, textarea:focus {
        outline: none;
        border-color: var(--accent2);
      }

      .button-submit-taches, .button-delete,.button-delete-task {
        border: none;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1rem;
        margin-top: 10px;
      }

      .button-submit-taches {
        background-color: var(--accent2);
        color: black;
        box-shadow: var(--ombre);
      }

      .button-submit-taches:hover {
        background-color: var(--accent);
        color: #000;
      }

      .button-historique {
        display: block;             /* Permet d'utiliser margin auto */
        margin: 10px auto 0 auto;   /* Centré horizontalement + marge au-dessus */
        border: none;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1rem;
        margin-bottom:25px;
      }

      .button-historique {
        background-color: var(--accent2);
        color:black;
        box-shadow: var(--ombre);
      }

      .button-historique:hover {
        background-color: var(--accent2);
        color: black;
      }

      .button-reinitialze {
        display: block;             /* Permet d'utiliser margin auto */
        margin: 10px auto 0 auto;   /* Centré horizontalement + marge au-dessus */
        border: none;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1rem;
        margin-bottom:25px;
        margin-left : 10px; /* Pour espacer les boutons */
      }

      .button-reinitialze {
        background-color: var(--accent);
        color:black;
        box-shadow: var(--ombre);
      }

      .button-reinitialze:hover {
        background-color: var(--accent);
        color: black;
      }

      .montantTotal{
        display: block;
        width: max-content;
        margin: 0 auto;
        background-color: black;
        border-radius: 20px;
        border: 1px solid var(--accent);
        box-shadow: var(--ombre);
        padding: 10px;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        color: gold;
        font-weight: bold;
        font-size: 1.5rem;
        margin: auto;
        margin-bottom: 0.8rem;
      }

      .button-delete {
        background-color: var(--danger);
        color: white;
        box-shadow: var(--ombre);
      }

      .button-delete:hover {
        background-color: #c0392b;
      }

      .button-delete-task {
        background-color: var(--danger);
        color: white;
        box-shadow: var(--ombre);
        float:right;
        margin-top: 0px;
      }

      .button-delete-task:hover {
        background-color: #c0392b;
      }

      .task, .purchase-item {
        background-color: #1f1f2f;
        border-left: 10px solid var(--accent);
        border-top: 10px solid var(--accent);
        border-right: 1px solid var(--accent);
        border-bottom: 1px solid var(--accent);
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: var(--ombre);
      }

      .task h3, .purchase-item h3 {
        margin: 0 0 10px 0;
        color: var(--accent2);
      }

      .date {
        font-weight: bold;
        color: gold;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
      }

      .nomTacheHeure {
        text-align: left;
        font-weight: bold;
        font-size: 1.1rem;
        color: var(--accent);
      }

      .nomQui, .nomTache {
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;
        color: var(--accent);
      }
      .nomTache {
        border : 2px solid var(--accent);
        background-color: #444;
        padding: 10px;
        border-radius: 10px;
        margin-right:2rem;
        margin-left:2rem;
      }
      .nomQui {
        margin-top: 20px;
        color: var(--text);
      }
      .qui{
        margin-bottom:10px;
      }

      .priority-qui-container {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        color: var(--texte);
        margin-bottom: 10px;
      }
       .dateInput {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
      }

      .dateInput input[type="date"],
      .dateInput select {
        background-color: #444;
        color: #f0f0f0;
        border: 2px solid var(--accent);
        border-radius: 6px;
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Press Start 2P', monospace;
        margin-top:15px;
      }
      .dateInput input[type="month"]{
        background-color: #444;
        color: #f0f0f0;
        border: 2px solid var(--accent);
        border-radius: 6px;
        padding: 0.5rem;
        margin-top:15px;
        margin-left: 0px; /* a changer*/
        margin-right: 10px;
        font-size: 1rem;
        font-family: 'Press Start 2P', monospace;
      }

      .small-br {
        border-radius:20px;
        border: 1px solid var(--accent2);
        background-color: var(--accent2);
        line-height: 0.5;  /* réduit l'espace vertical */
        content: "";       /* pas obligatoire mais parfois utile */
        margin: 2px 0;     /* tu peux ajuster la marge aussi */
        display: block;    /* forcer le saut en bloc */
        height: 5px;       /* hauteur personnalisée */
      }

      .heureTravail {
        background-color: var(--accent2);
        font-weight: bold;
        color: black;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
      }
      .historique {
        display: none
      }
      .input-task {
        margin-top:15px;
        width: 70%; /* ou 300px, ou 20rem selon ce que tu préfères */
      }
      .input-task2 {
        margin-top:15px;
        width: 90%; /* ou 300px, ou 20rem selon ce que tu préfères */
      }

      .sousTitre{
        text-align: center;
        font-size: 1.5rem;
        color: var(--accent2);
        font-family: 'Orbitron', sans-serif;
        text-shadow: 0 0 5px var(--accent2);
        margin-top:1rem;
        margin-bottom: 1rem;
      }
      li .item {
        background-color:rgb(116, 116, 119);
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: var(--ombre);
      }

      li.user-item {
        list-style-type: none;
      }

      .boutonFiltre-reinitialise {
        display: flex;
        justify-content: space-between;
      }

      ul.task-list {
        list-style-type: none;
        padding-left: 0;
      }
      p.item-text {
        font-size: 1rem;
        color: var(--texte);
        margin-bottom: 5px;
      }

      /* Priorités */
      .faible {
        border-left-color: green;
      }

      .moyenne {
        border-left-color: orange;
      }

      .haute {
        border-left-color: red;
      }

      /* Responsive */
      @media (max-width: 768px) {
        .container {
          flex-direction: column;
        }
      }

  body
    .container
      .form-container-cache 
        .head
          .formDate
            .date-time
              #dateJour 
              #heure    
 
        p.titre Skil Up 
        p.sousTitre Historique des ouvriers
         div.small-br

        form(action="/historiqueOuvrier" method="POST")
          label(for="username") Filtres (Ouvrier et Mois) :
          //- input(type="text" name="username" placeholder="Nom utilisateur")
          //- .boutonFiltre-reinitialise

          .dateInput
            select(name="username" id="username")
              option(value="" disabled selected) Ouvrier
              each user in usersAdmin
                option(value=user.username)= user.username
  
          .dateInput
            input(type="month" name="mois" id="mois" placeholder="Mois")      

          .boutonFiltre-reinitialise
            button(type="submit" class="button-historique") Filtrer
            a(href="/historiqueOuvrier") 
              button(type="button" class="button-reinitialze") Ce mois
            a(href="/historiqueOuvrierAll") 
              button(type="button" class="button-reinitialze") Réinitialiser
          div.small-br
          - var montantTotalGeneral = 0
          h2 Montant total général : #{montantTotalGeneral} €
          div.small-br

        // Si la liste est vide
        if !usersAdmin || usersAdmin.length === 0
          p Aucun ouvrier trouvé.
         
        user-list
          each user in usersAdmin
            if user.username != "Admin"
              li.user-item
                //- p Taux horaire actuel : #{user.taux} €/h
                if user.tasks && user.tasks.length
                  - var totalMontant = 0
                  each t in user.tasks
                    - totalMontant += Number(t.montant) || 0
                  - montantTotalGeneral += totalMontant  
                  h2 #{user.username} (#{user.taux} €/h)
                  p.salaire Salaire : #{totalMontant} €
                  p Nombre de missions : #{user.tasks.length}
                  ul.task-list
                    each t in user.tasks
                      - const dateObj = new Date(t.date)
                      - const dateFr = dateObj.toLocaleDateString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric' })
                      li.item(data-task-id=t._id.toString())
                        | #{t.name || t.task} (#{dateFr})
                        p.item-text #{t.montant} €  ➭ : #{t.heureTravail} h  (#{t.taux} €/h)
                        button(type="button" onclick="deleteTask(this)" class="button-delete-task")
                          i(class="fas fa-trash-alt")
                          //- |  Accueil
                      //- br.small-br
        form(action="/admin" method="get")
          button(type="submit" class="button-historique")
            i(class="fas fa-home")
            |  Accueil               
        form(action="/logout" method="get")
          button(type="submit" class="button-delete")
            i(class="fas fa-sign-out-alt")
            |  Déconnexion           
      .form-container 
        .head
          .formDate
            .date-time
              #dateJour 
              #heure    
 
        p.titre Skil Up 
        p.sousTitre Historique des ouvriers

        form(action="/historiqueOuvrier" method="POST")
          label(for="username") Filtres (Ouvrier et Mois) :
          //- input(type="text" name="username" placeholder="Nom utilisateur")
          //- .boutonFiltre-reinitialise

          .dateInput
            select(name="username" id="username")
              option(value="" disabled selected) Ouvrier
              each user in usersAdmin
                option(value=user.username)= user.username
  
          .dateInput
            input(type="month" name="mois" id="mois" placeholder="Mois")      

          .boutonFiltre-reinitialise
            button(type="submit" class="button-historique") Filtrer
            a(href="/historiqueOuvrier") 
              button(type="button" class="button-reinitialze") Ce mois
            a(href="/historiqueOuvrierAll") 
              button(type="button" class="button-reinitialze") Réinitialiser
          div.small-br
          h2 Total des salaires :
          h2.montantTotal  #{montantTotalGeneral} €
          div.small-br

        // Si la liste est vide
        if !usersAdmin || usersAdmin.length === 0
          p Aucun ouvrier trouvé.
         
        user-list
          each user in usersAdmin
            if user.username != "Admin"
              li.user-item
                //- p Taux horaire actuel : #{user.taux} €/h
                if user.tasks && user.tasks.length
                  - var totalMontant = 0
                  each t in user.tasks
                    - totalMontant += Number(t.montant) || 0
                  - montantTotalGeneral += totalMontant  
                  h2 #{user.username} (#{user.taux} €/h)
                  p.salaire Salaire : #{totalMontant} €
                  p Nombre de missions : #{user.tasks.length}
                  ul.task-list
                    each t in user.tasks
                      - const dateObj = new Date(t.date)
                      - const dateFr = dateObj.toLocaleDateString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric' })
                      li.item(data-task-id=t._id.toString())
                        | #{t.name || t.task} (#{dateFr})
                        p.item-text #{t.montant} €  ➭ : #{t.heureTravail} h  (#{t.taux} €/h)
                        button(type="button" onclick="deleteTask(this)" class="button-delete-task")
                          i(class="fas fa-trash-alt")
                          //- |  Accueil
                      //- br.small-br
        form(action="/admin" method="get")
          button(type="submit" class="button-historique")
            i(class="fas fa-home")
            |  Accueil               
        form(action="/logout" method="get")
          button(type="submit" class="button-delete")
            i(class="fas fa-sign-out-alt")
            |  Déconnexion           
    
    scr
    script(src="/js/script.js")
    script.
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
