html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Skil Up
    link(rel="manifest" href="/manifest.json")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="icon", href="/assets/icons/favicon.ico", type="image/x-icon")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    style.

      .loginUser{
        text-align:center;
        padding-bottom:5px;
        padding-top:0px;
        margin-bottom:5px;
        margin-top:0px;
        font-size:1rem;
      }

      .salaire {
        background-color: black;
        border-radius:20px;
        border : 1px solid var(--accent); 
        box-shadow: var(--ombre);
        padding: 10px;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        color:gold;
        font-weight: bold;
        font-size:1rem;
      }

      .button-historique {
        display: block;             /* Permet d'utiliser margin auto */
        margin: 10px auto 5 auto;   /* Centré horizontalement + marge au-dessus */
        //- border: none;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1rem;
      }

      .button-historique {
        background-color: var(--accent2);
        color:black;
        box-shadow: var(--ombre);
        margin-bottom : 15px;
      }

      .button-historique:hover {
        background-color: var(--accent2);
        color: black;
      }

      //- .button-delete {
      //-   background-color: var(--danger);
      //-   color: white;
      //-   box-shadow: var(--ombre);
      //- }

      //- .button-delete:hover {
      //-   background-color: #c0392b;
      //- }

      .task, .purchase-item {
        background-color: #1f1f2f;
        border-left: 10px solid var(--accent);
        border-top: 10px solid var(--accent);
        border-right: 1px solid var(--accent);
        border-bottom: 1px solid var(--accent);
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: var(--ombre);
      }

      .task h3, .purchase-item h3 {
        margin: 0 0 10px 0;
        color: var(--accent2);
      }

      .date {
        font-weight: bold;
        color: gold;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
      }

      .button-reinitialze {
        display: block;             /* Permet d'utiliser margin auto */
        margin: 10px auto 0 auto;   /* Centré horizontalement + marge au-dessus */
        //- border: none;
        padding: 12px;
        margin-bottom : 0px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1rem;
        margin-bottom:0px;
      }

      .button-reinitialze {
        background-color: var(--accent);
        color:black;
        box-shadow: var(--ombre);
      }

      .button-reinitialze:hover {
        background-color: var(--accent);
        color: black;
      }

      .button-filter {
        display: block;             /* Permet d'utiliser margin auto */
        margin: 10px auto 0 auto;   /* Centré horizontalement + marge au-dessus */
        //- border: none;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1rem;
        margin-bottom:0px;
      }

      .button-filter {
        background-color: var(--accent2);
        color:black;
        box-shadow: var(--ombre);
      }

      .button-filter:hover {
        background-color: var(--accent);
        color: black;
      }

      .nomTacheHeure {
        text-align: left;
        font-weight: bold;
        font-size: 1.1rem;
        color: var(--accent);
      }

      .nomQui, .nomTache {
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;
        color: var(--accent);
      }
      .nomTache {
        border : 2px solid var(--accent);
        background-color: #444;
        padding: 10px;
        border-radius: 10px;
        margin-right:2rem;
        margin-left:2rem;
      }
      .nomQui {
        margin-top: 20px;
        color: var(--text);
      }

      .priority-qui-container {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        color: var(--texte);
        margin-bottom: 10px;
      }
       .dateInput {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
      }

      .dateInput input[type="date"],
      .dateInput select {
        background-color: #444;
        color: #f0f0f0;
        border: 2px solid var(--accent);
        border-radius: 6px;
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Press Start 2P', monospace;
      }

      br.small-br {
        line-height: 0.7;  /* réduit l'espace vertical */
        content: "";       /* pas obligatoire mais parfois utile */
        margin: 2px 0;     /* tu peux ajuster la marge aussi */
        display: block;    /* forcer le saut en bloc */
        height: 6px;       /* hauteur personnalisée */
      }

      .dateInput input[type="month"]{
        background-color: #444;
        color: #f0f0f0;
        border: 2px solid var(--accent);
        border-radius: 6px;
        padding: 0.5rem;
        margin-top:15px;
        margin-left: 0px; /* a changer*/
        margin-right: 10px;
        font-size: 1rem;
        font-family: 'Press Start 2P', monospace;
      }

      .heureTravail {
        background-color: var(--accent2);
        font-weight: bold;
        color: black;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
      }

      .footer-content{
        text-align:center;
        font-size:0.9rem
      }
      .heureTravail p {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .historique {
        display: none;
        margin-bottom: 20px;
      }
      .boutonFiltre-reinitialise {
        display: flex;
        justify-content: space-between;
        margin-top: 00px;
        margin-bottom: 00px;
      }
      .input-task {
        width: 70%; /* ou 300px, ou 20rem selon ce que tu préfères */
      }

      /* Priorités */
      .faible {
        border-left-color: green;
      }

      .moyenne {
        border-left-color: orange;
      }

      .haute {
        border-left-color: red;
      }

      /* Responsive */
      @media (max-width: 1600px) {
        .container {
          flex-direction: column;
        }
      }

  body
    .container
      .form-container 
        .head
          .formDate
            .date-time
              #dateJour 
              br
              #heure 
          .formDate
            .date-time
              p.salaire Salaire : #{salaire} €   
        p.loginUser Bienvenue #{username} !  
       
        .tasks-container
          include includes/title.pug 
          // Bouton pour afficher/masquer l'historique
          button.button-historique(type="button" id="toggleHistorique") Filtre

          // Bloc historique masqué par défaut
          div.historique(id="historique")
            form(action="/historiqueUser" method="POST")
              label(for="mois") Mois :
              .dateInput
                input(type="month" name="mois" id="mois" placeholder="Mois")
              .boutonFiltre-reinitialise
                button(type="submit" class="button-filter") Filtrer
                button(type="button" id="btnMois" class="button-reinitialze") Ce mois
                button(type="button" id="btnReset" class="button-reinitialze") Tout
          //- if message
          //-     #message.message #{message}
          // Liste des tâches
          each task in tasks
            .task(data-task-id=task._id class=task.priority)
              .task-header
                if task.qui
                  h3.nomTache #{task.task} (#{task.qui})
                else 
                  h3.nomTache #{task.task}  
                if task.qui && task.qui.trim() !== ''
                  div.nomQui
                p.nomTacheHeure Début de chantier :
                .dateFormat 
                  p.date #{new Intl.DateTimeFormat('fr-FR', { day: 'numeric', month: 'long', year: 'numeric'}).format(new Date(task.date))} - #{task.heure}
                p.nomTacheHeure Fin de chantier :
                .dateFormat     
                  p.date #{new Intl.DateTimeFormat('fr-FR', { day: 'numeric', month: 'long', year: 'numeric'}).format(new Date(task.datef))} - #{task.heuref}
                if task.description
                  p.taskDescription Commentaires : #{task.description}
                .heureTravail
                  if task.taxiRefund && task.taxiRefund > 0
                    p #{task.montant}€ : #{task.heureTravail}h (#{task.taux}€/h - #{task.pause}h de pause) + taxi  : #{task.taxiRefund} €
                  else
                    p #{task.montant}€ : #{task.heureTravail}h (#{task.taux}€/h - #{task.pause}h de pause)

                    //- button(type="button" onclick="deleteTask(this)" class="button-delete") Supprimer
        
        //- form(action="/logout" method="get")
        //-   button(type="submit" class="button-delete") Déconnexion
        form(action="/logout" method="get")
            button(type="submit" class="button-logout")
              i(class="fas fa-sign-out-alt")
              |  Déconnexion
        //- footer
        //-     .footer-content
        //-       p Skil up © — Tous droits réservés — 2025 
        include includes/footer.pug     
    script(src="/js/script.js")
    script.
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
