html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Skil Up
    link(rel="manifest" href="/manifest.json")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="icon", href="/assets/icons/favicon.ico", type="image/x-icon")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    style.
    
      h2{
        margin-bottom:10px;
        font-size:1rem;
        margin-top:5px;
      }

      .form-container-cache {
        display: none; /* Pour cacher le formulaire */
      } 

      .salaire {
        display: block;
        width: max-content; /* Pour qu'il garde sa largeur auto */
        margin: 0 auto;
        background-color: black;
        border-radius:20px;
        border : 1px solid var(--accent); 
        box-shadow: var(--ombre);
        padding: 10px;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        color:gold;
        font-weight: bold;
        font-size:0.9rem;
        margin : auto;
        margin-top:0em;
        margin-bottom:0;
      }

      //- .salaire.paye {
      //-   //- text-decoration: line-through;
      //-   color: var(--fond);
      //-   background-color: var(--accent2);
      //-   transition: background 1s ease;
      //- }

      
      .button-delete-task {
        padding: 5px;
        margin-left:10px;
        border: 2px solid black;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1.1rem;
      }

      .button-delete-task {
        background-color: var(--danger);
        color: white;
        box-shadow: var(--ombre);
        float:right;
        margin-top: 5px;
      }

      .button-delete-task:hover {
        background-color: #c0392b;
      }

      .button-modify-task {
        padding: 5px;
        border: 2px solid black;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1.1rem;
      }

      .button-modify-task {
        background-color: var(--accent2);
        color: white;
        box-shadow: var(--ombre);
        float:right;
        margin-top: 5px;
      }

      .button-modify-task:hover {
        background-color: var(--accent);
        color: white;
      }

      .button-modify-task i {
        color: black;
        background-color: var(--accent2);
      }
      .button-modify-task i:hover {
        color: black;
        background-color: var(--accent);
      }

      .button-taxi {
        padding: 5px;
        border: 2px solid black;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1.1rem;
      }

      .button-taxi {
        background-color: var(--texte);
        color: white;
        box-shadow: var(--ombre);
        float:right;
        margin-top: 5px;
        margin-right : 0.6rem;
      }

      .button-taxi:hover {
        background-color: var(--accent);
        color: white;
      }

      .button-taxi i {
        color: black;
        background-color: var(--texte);
      }
      .button-taxi i:hover {
        color: black;
        background-color: var(--accent);
      }

      .button-historique {
        display: block;             /* Permet d'utiliser margin auto */
        margin: 10px auto 0 auto;   /* Centré horizontalement + marge au-dessus */
        //- border: 2px solid white;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1rem;
        margin-bottom:25px;
      }

      .button-historique {
        background-color: var(--accent2);
        color:black;
        box-shadow: var(--ombre);
      }

      .button-historique:hover {
        background-color: var(--accent2);
        color: black;
      }

      .button-RAZ {
        display: block;             /* Permet d'utiliser margin auto */
        margin: 10px auto 0 auto;   /* Centré horizontalement + marge au-dessus */
        //- border: 2px solid white;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 0.9rem;
        margin-bottom:25px;
      }

      .button-RAZ {
        background-color: var(--texte);
        color:black;
        box-shadow: var(--ombre);
      }

      .button-RAZ:hover {
        background-color: var(--accent2);
        color: black;
      }

      .button-reinitialze {
        display: block;             /* Permet d'utiliser margin auto */
        margin: 10px auto 0 auto;   /* Centré horizontalement + marge au-dessus */
        //- border: none;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1rem;
        //- margin-top:20px;
        margin-bottom:25px;
        margin-left : 10px; /* Pour espacer les boutons */
      }

      .button-reinitialze {
        background-color: black;
        color:white;
        box-shadow: var(--ombre);
      }

      .button-reinitialze:hover {
        background-color: black;
        color: white;
      }

      .button-mois {
        display: block;             /* Permet d'utiliser margin auto */
        margin: 10px auto 0 auto;   /* Centré horizontalement + marge au-dessus */
        //- border: none;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 1rem;
        margin-bottom:25px;
        margin-left : 10px; /* Pour espacer les boutons */
      }

      .button-mois {
        background-color: var(--accent);
        color:black;
        box-shadow: var(--ombre);
      }

      .button-mois:hover {
        background-color: var(--accent);
        color: black;
      }

      .montanttotal{
        display: block;
        width: max-content;
        margin: 0 auto;
        background-color: black;
        border-radius: 20px;
        border: 1px solid var(--accent);
        box-shadow: var(--ombre);
        padding: 5px;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        color: gold;
        font-weight: bold;
        font-size: 1.3rem; 
        margin: auto;
        margin-bottom: 0.8rem;
      }
      .montantAPayer{
        display: block;
        width: max-content;
        margin: 0 auto;
        background-color: black;
        border-radius: 20px;
        border: 1px solid var(--accent);
        box-shadow: var(--ombre);
        padding: 5px;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        color: var(--texte);;
        font-weight: bold;
        font-size: 1.0rem; 
        margin: auto;
        margin-top: 0.2rem;
      }

      .task, .purchase-item {
        background-color: #1f1f2f;
        border-left: 10px solid var(--accent);
        border-top: 10px solid var(--accent);
        border-right: 1px solid var(--accent);
        border-bottom: 1px solid var(--accent);
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: var(--ombre);
      }

      .task h3, .purchase-item h3 {
        margin: 0 0 10px 0;
        color: var(--accent2);
      }

      .date {
        font-weight: bold;
        color: gold;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
      }

      .nomTacheHeure {
        text-align: left;
        font-weight: bold;
        font-size: 1.1rem;
        color: var(--accent);
      }

      .nomQui, .nomTache {
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;
        color: var(--accent);
      }
      .nomTache {
        border : 2px solid var(--accent);
        background-color: #444;
        padding: 10px;
        border-radius: 10px;
        margin-right:2rem;
        margin-left:2rem;
      }
      .nomQui {
        margin-top: 20px;
        color: var(--text);
      }
      .qui{
        margin-bottom:10px;
      }

      .priority-qui-container {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        color: var(--texte);
        margin-bottom: 10px;
      }
       .dateInput {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
      }

      .dateInput input[type="date"],
      .dateInput select {
        background-color: #444;
        color: #f0f0f0;
        border: 2px solid var(--accent);
        border-radius: 6px;
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Press Start 2P', monospace;
        margin-top:15px;
      }
      .dateInput input[type="month"]{
        background-color: #444;
        color: #f0f0f0;
        border: 2px solid var(--accent);
        border-radius: 6px;
        padding: 0.5rem;
        margin-top:15px;
        margin-left: 0px; /* a changer*/
        margin-right: 10px;
        font-size: 1rem;
        font-family: 'Press Start 2P', monospace;
      }

      .select-hours {
        background-color: #444;
        color: #f0f0f0;
        border: 2px solid var(--accent2);
        border-radius: 6px;
        padding: 0.5rem;
        margin-top:15px;
        margin-left: 0px; /* a changer*/
        margin-right: 10px;
        font-size: 1rem;
        font-family: 'Press Start 2P', monospace;
        width:40%
      }

      .small-br {
        border-radius:20px;
        border: 1px solid var(--accent2);
        background-color: var(--accent2);
        line-height: 0.5;  /* réduit l'espace vertical */
        content: "";       /* pas obligatoire mais parfois utile */
        margin: 2px 0;     /* tu peux ajuster la marge aussi */
        display: block;    /* forcer le saut en bloc */
        height: 2px;       /* hauteur personnalisée */
      }

      .heureTravail {
        background-color: var(--accent2);
        font-weight: bold;
        color: black;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
      }
      .historique {
        display: none
      }
      .input-task {
        margin-top:15px;
        width: 70%; /* ou 300px, ou 20rem selon ce que tu préfères */
      }
      .input-task2 {
        margin-top:15px;
        width: 90%; /* ou 300px, ou 20rem selon ce que tu préfères */
      }

      .separation{
        text-align:center;
        margin:auto;
        margin-top:0; 
        margin-bottom:0;
        padding-top:0;
        padding-bottom:0;
      }
      li .item {
        background-color:rgb(116, 116, 119);
        border : 2px solid white;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: var(--ombre);
        color:white;
        //- font-weight: bold;
        //- font-size : 1rem;
          
      }
      .montantCentrer {
        text-align:center;
        font-size:1.2rem;
      }

      li.user-item {
        list-style-type: none;
        //- background-color: #444;
        color: #f0f0f0;
        border-bottom: 2px solid var(--accent);
        //- border-radius: 6px;
        padding: 0.5rem;
        padding-top:0.1rem;
        margin-top:0px;
        margin-left: 0px; /* a changer*/
        margin-right: 10px;
        font-size: 1rem;
        padding-bottom:20px;
        font-family: 'Press Start 2P', monospace;

      }
      .footer-content{
        text-align:center;
        font-size:0.9rem
      }

      .iconBurger{
        height:1rem;
        position : absolute;
        margin-left : 0.4rem;
        margin-top : 0.1rem;
      }

      .boutonFiltre-reinitialise {
        display: flex;
        justify-content: space-between;
      }

      ul.task-list {
        list-style-type: none;
        padding-left: 0;
      }
      p.item-text {
        font-size: 1rem;
        color: var(--texte);
        margin-bottom: 5px;
        margin-top: 5px;
      }

      .input-taxi-price{
        margin-top:0.5rem;
        width:40%
      }
      .espaceHistorique{
        margin-bottom:10px;
      }

      .salaireEtValidationPaye{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .SalaireTotalEtAPayer{
        display: flex;
        justify-content: space-around;
        align-items: center;

      }

      /* Priorités */
      .faible {
        border-left-color: green;
      }

      .moyenne {
        border-left-color: orange;
      }

      .haute {
        border-left-color: red;
      }
      #username {
        margin-bottom:0px
      }

      .buttonSalairePaye{
        padding: 8px;
        border: 2px solid black;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
        font-size: 0.8rem;
        background-color: var(--texte);
        color: black;
        box-shadow: var(--ombre);
        //- float:right;
        margin-top: 0px;
      }
      .buttonSalairePaye.paye {
        //- text-decoration: line-through;
        background-color: var(--vert);;
      }
      #mois {
        margin-top:0px
      }

      /* Responsive */
      @media (max-width: 1600px) {
        .container {
          flex-direction: column;
        }
      }

  body
    .container
      .form-container-cache 
        .head
          //- .formDate
          //-   .date-time
          //-     #dateJour 
          //-     #heure    
 
        include includes/title.pug  
        p.sousTitre Salaire à payer
         div.small-br

        form(action="/historiqueOuvrier" method="POST")
          label(for="username") Filtres (Ouvrier et Mois) :
          //- input(type="text" name="username" placeholder="Nom utilisateur")
          //- .boutonFiltre-reinitialise

          .dateInput
            select(name="username" id="username")
              option(value="" disabled selected) Nom de l'ouvrier
              each user in usersAdmin
                option(value=user.username)= user.username
  
          //- .dateInput
          //-   input(type="month" name="mois" id="mois" placeholder="Mois")      

          //- .boutonFiltre-reinitialise
          //-   button(type="submit" class="button-historique") Filtrer
          //-   a(href="/historiqueOuvrier") 
          //-     button(type="button" class="button-mois") 
          //-   a(href="/historiqueOuvrierAll") 
          //-     button(type="button" class="button-reinitialze") Réinitialiser
          div.small-br
          - var montantTotalGeneral = 0
          - var montantTotalGeneralAPayer = 0
          h2.montantCentrer Montant total général : #{montantTotalGeneral} €
          div.small-br

        // Si la liste est vide
        if !usersAdmin || usersAdmin.length === 0
          p Aucun ouvrier trouvé.
         
        user-list
          each user in usersAdmin
            if user.username != "Admin"
              li.user-item
                //- p Taux horaire actuel : #{user.taux} €/h
                if user.tasks && user.tasks.length
                  - var totalMontant = 0
                    each t in user.tasks 
                      - totalMontant += Number(t.montant) || 0
                    - montantTotalGeneral += totalMontant  
                    if user.isPayed==="n"  
                      - montantTotalGeneralAPayer += totalMontant
                  h2 #{user.username} (#{user.taux} €/h)
                  p.salaire Salaire : #{totalMontant} €
                  p Nombre de chantiers : #{user.tasks.length}
                  ul.task-list
                    each t in user.tasks
                      - const dateObj = new Date(t.date)
                      - const dateFr = dateObj.toLocaleDateString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric' })
                      li.item(data-task-id=t._id.toString())
                        | #{t.name || t.task} (#{dateFr})
                        p.item-text #{t.montant} €  ➭ : #{t.heureTravail} h  (#{t.taux} €/h)
                        button(type="button" onclick="deleteTask(this)" class="button-delete-task")
                          i(class="fas fa-trash-alt")
                          //- |  Accueil
                      //- br.small-br
        
        form(action="/admin" method="get")
          button(type="submit" class="button-historique")
            i(class="fas fa-home")
            |  Accueil               
        form(action="/logout" method="get")
          button(type="submit" class="button-logout")
            i(class="fas fa-sign-out-alt")
            |  Déconnexion           
      .form-container 
        .head
          .formDate
            .date-time
              #dateJour  
              br
              #heure    
 
        p.titre Skil Up 
        p.sousTitre Salaires à payer
        //-  div.small-br

        form(action="/payementOuvrier" method="POST")
          //- label(for="username") Filtres (Ouvrier et Mois) :
          //- input(type="text" name="username" placeholder="Nom utilisateur")
          //- .boutonFiltre-reinitialise

          //- .dateInput
          //-   select(name="username" id="username")
          //-     option(value="" disabled selected) Nom de l'ouvrier
          //-     each user in usersAdmin
          //-       option(value=user.username)= user.username
  
          .dateInput
            input(type="month" name="mois" id="mois" placeholder="Mois")      

          .boutonFiltre-reinitialise
            button(type="submit" class="button-historique") Filtrer
            a(href="/payementOuvrier") 
              button(type="button" class="button-mois") Ce mois
            a(href="/payementOuvrier") 
            //-   button(type="button" class="button-reinitialze") Tout
          div.small-br
          h2.montantCentrer Total des salaires :
          .SalaireTotalEtAPayer
            h2.montantTotal  #{montantTotalGeneral} €
            h2.montantAPayer Reste à payer : #{montantTotalGeneralAPayer} €
          div.small-br

        // Si la liste est vide
        if !usersAdmin || usersAdmin.length === 0
          p Aucun ouvrier trouvé.
         
        user-list
          each user in usersAdmin
            if user.username != "Admin"
              if user.tasks
                li.user-item
                  //- p Taux horaire actuel : #{user.taux} €/h
                  if user.tasks && user.tasks.length
                    - var totalMontant = 0
                    each t in user.tasks
                      - totalMontant += Number(t.montant) || 0
                    if user.isPayed==="n"  
                      - montantTotalGeneral += totalMontant
                    h2 #{user.username}
                    .SalaireEtValidationPaye
                      p.salaire Salaire : #{totalMontant} €
                      //- button.buttonSalairePaye(type="button" class="salairePayeBtn" onclick=`salairePaye(this, '${user._id}')`) A payer
                      button.buttonSalairePaye(
                        type="button"
                        class=user.isPayed === "y" ? "paye" : ""
                        onclick=`salairePaye(this, '${user._id}')`
                      )= user.isPayed === "y" ? "Payé ✅" : "A payer"
        form(action="/refresh" method="post")
          button(type="submit" class="button-RAZ")
            i(class="fas fa-sync-alt")
            |  Tous les paiements sont effectués !            
        form(action="/admin" method="get")
          button(type="submit" class="button-historique")
            i(class="fas fa-home")
            |  Accueil               
        form(action="/logout" method="get")
          button(type="submit" class="button-logout")
            i(class="fas fa-sign-out-alt")
            |  Déconnexion  
        //- footer
        //-   .footer-content
        //-     p Skil Up © — Tous droits réservés — 2025
        include includes/footer.pug              
    
    script(src="/js/script.js")
    script.
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
